<!DOCTYPE html>
<html>
    {% load static %}
    {% include 'head.html' %}

    <body style="background: url({% static 'img/back.png' %}); background-size: cover; background-position: center center" class="hero">

        {% include 'header.html' %}

        {% block content %}
        {% endblock content %}

        {% include 'footer.html' %}
        {% include 'scripts.html' %}
        
    </body>
</html>