{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="col-4 offset-4 mb-5 mt-5">
    <h3>{{ title }} an article</h3>
    {{ form.media }}
    <form method="POST" action="." enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>

{% endblock content %}