{% extends 'base.html' %}
{% load static %}

{% block content %}

    <h2>This is the result of your search</h2>
    {% for post in queryset %}
        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        <br />
    {% endfor %}

{% endblock content %}